# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Raw and processed datasets
data/raw/*
data/processed/*

# Trained model files
models/*.pkl

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated prediction logs
monitoring/predictions.csv